<div class="container position-relative p-3 min-vh-100 pt-5 mt-5">
    <div class="loading start-0 top-0 w-100 vh-100 position-fixed d-flex justify-content-center align-items-center" *ngIf="isLoading">
        <div class="lds-facebook">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <div class="row gy-5">
        <div class="col-lg-2 col-md-4 col-sm-6 " *ngFor="let product of products" [routerLink]="['/prductsDetails' , product.id]">

            <div class="product my-3 py-5" style="height: 400px;">
                <div class="position-relative  h-75">
                    <div class="position-absolute w-100 h-100 d-flex justify-content-center align-items-center image-loading ">
                        <div class="lds-ellipsis">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                    <a [routerLink]="['/productDetails' , product.id]">
                        <img [src]="product.imageCover" class="w-100 h-100" alt="">
                        <h2 class="h6 text-main h-25 text-center my-2">{{product.slug.split('-').slice(0,2).join(' ')}}</h2>
                        <button class="btn w-100 text-white bg-main d-block mb-5">
                      <i class="fas fa-plus"></i>
                      Add
                    </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- [routerLink]="['/prductsDetails' , product.id] -->
