<div class="container">
    <div class="row">
        <div class="col-sm-1 col-md-6 col-lg-5 py-5 ">
            <div class="aboutMe__content py-5">
                <h1 class="text-main">FreshCart</h1>
                <p class="muted">
                    The Angular e-commerce project is a modern and dynamic web application designed to provide a seamless and intuitive online shopping experience.
                </p>
                <p class="muted">
                    One of the key features of this project is the implementation of routing and protected routes, which enables users to navigate between different pages of the application securely.
                </p>
                <p class="muted">
                    Users can browse through product listings, view product details, and add items to their shopping carts after user registration and login.
                </p>
                <p class="muted">
                    Finally, the project utilizes the Stripe payment gateway, which enables users to make secure and hassle-free payments for their purchases.
                </p>
                <p>
                    With its sleek design, responsive layout, and robust feature set, this Angular e-commerce project is a great example of modern web application development
                </p>
            </div>
        </div>
        <div class=" col-sm-1 col-md-6 col-lg-7 ">
            <div class="aboutMe__content py-5">
                <div class="aboutMe__Image position-relative">
                    <div class="magicpattern">
                        <img src="assets/img/magicpattern-blob-1687824266022.png" class="img" alt="magicpattern">
                    </div>
                    <div class="image__me position-absolute top-0 start-1 ">
                        <img src="assets/img/me.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>